* {
  box-sizing: border-box;
}
.start_btn {
  border: 1px solid black;
  display: inline;
  margin: 5px;
}

.cards {
  display: flex;
  width: 830px;
  height: 400px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.flip {
  display: flex;
  width: 120px;
  height: 200px;
  perspective: 1100px;
  flex-wrap: wrap;
  margin-top: 10px;
}

.card {
  width: 100%;
  /* height: 100%; */
  position: relative;
  transition: 0.4s;
  transform-style: preserve-3d;
  margin: 10px;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
}

.front {
  background: red;
}

/* // 뒷면은 사전에 미리 뒤집기 */
.back {
  background: royalblue;
  transform: rotateY(180deg);
}

/* // 호버 시 뒤집기 */
.flip:hover .card {
  transform: rotateY(180deg);
}
