.machine {
  /* display: flex; */
  width: 500px;
  height: 800px;
  background-color: blue;
  /* justify-content: center; */
  /* align-items: center; */
  position: relative;
  padding: 20px;
}

.wine,
.wink {
  display: inline-flex;
  width: 150px;
  height: 80px;
  background-color: red;
  position: absolute;
  /* font-weight: bold; */
  font-size: 30px;
  color: white;
}

.coin,
.coin2 {
  display: inline-flex;
  width: 138px;
  height: 50px;
  background-color: lightblue;
  position: absolute;
  /* margin-left: 360px; */
  font-weight: bold;
  color: white;
  font-size: 25px;
}

.center {
  display: inline-flex;
}

.coinslot {
  display: flex;
  flex-wrap: wrap;
  margin-left: 350px;
  /* margin-top: 100px; */
}

.coin2 {
  margin-top: 430px;
}

.slot {
  margin-top: 90px;
}

.lose,
.draw {
  display: inline-flex;
  width: 150px;
  height: 80px;
  background-color: yellow;
  position: absolute;
  margin-top: 10px;
  font-size: 30px;
  color: red;
}

.wink {
  text-align: center;

  margin-left: 160px;
}

.draw {
  margin-left: 160px;
}

.hands {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 310px;
  height: 300px;
  /* border-radius: 100%; */
  background-color: black;
  position: absolute;
  margin: 90px 0px;
}

.hand1 {
  position: relative;
}

.hand2 {
  position: absolute;
}

.hand3 {
  position: absolute;
}

.player {
  margin-top: 150px;
  display: flex;
}

.btn1,
.btn2,
.btn3,
.btn4,
.btn5 {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  box-shadow: 5px;
}

.btn4,
.btn5 {
  background-color: red;
}
