.cards {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 150px);
  row-gap: 10px;
  column-gap: 10px;
  border-radius: 5px;
  padding: 10px;
}

.cards div {
  display: flex;
  background-color: rgba(73, 157, 216, 0.911);
  color: white;
  border-radius: 10px;
}
