.highlight {
  display: inline-table;
  position: relative;
  overflow: hidden;
}

.highlight::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(255, 200, 0, 0.5);
  position: absolute;
  top: 0%;
  left: -100%;
  transition: all 0.35s;
}

.content:hover .highlight::before {
  left: 0;
}
