.etc {
  background-color: black;
  color: red;
  width: 1000px;
  min-height: 100px;
  font-size: 32px;

  opacity: 0.5;
  /* 투명도 조절 */
  z-index: 1;
  /* 
  Z 축 기준으로 어떤 것이 앞에 있는가?
  */
  position: absolute;
  top: 0;
  left: 0;

  margin: 0 0;
  /* 위 아래 좌우 */
  padding: 0 0 0;
  /* 위 좌우 아래 */
  padding: 0 0 0 0;
  /* 위 우 아래 좌*/
}

.zi {
  background-color: blue;
  width: 100px;
  min-height: 200px;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  /* z-index 가 .etc에서 우선값으로 줬기때문에 파란 사각이 먼저 나온 것 */
}

@media only screen and (max-width: 1000px) {
  /* 
    media query, 환경에 따라 CSS를 적용합니다.
    @media only (이거에만) screen(화면일 때) and (조건)
    { css 스타일 (문법 적용해서) }

    바로 위에서 적은 것은 "화면일 때만 너비가 1000px까지에서 적용한다.
     */
  .etc {
    width: 700px;
    opacity: 1;
  }
}

@media only screen and (min-width: 500px) {
  /* 화면일 때만 너비가 500px 이상일 때 */
  .etc {
    width: 300px;
    background-color: lightgray;
    color: black;
  }
}
/* 
*반응형 홈페이지 만들 경우 
@media only screen and ( max-width: 1000px or min-width: 500px) 
지정 최소 폭과 최대 폭을 정하여 화면 크기 조절에 따라 적용해줌
ex) 화면 폭 최대 px이 1000px이 넘어갔을 경우 .etc값이 출력되고
    화면 폭 최소 px이 500px으로 줄어들면 지정한 .etc값이 출력되는 것
화면 가득 채우는 반응형 속성은 따로 있다
*/
