.machine {
  display: flex;
  position: relative;
}

.bgn {
  width: 800px;
  height: 400px;
  background-color: rgb(254, 174, 0);
}

.hands {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
  /* border-radius: 100%; */
  background-color: black;
  position: absolute;
  margin: 130px 0px;
}

.hand1 {
  position: relative;
}

.hand2 {
  position: absolute;
}

.hand3 {
  position: absolute;
}

.result {
  display: flex;
  position: absolute;
  width: 200px;
  height: 400px;
  color: white;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.win {
  width: 150px;
  height: 60px;
  background-color: red;
}

.text1 {
  margin-top: 35px;
  font-size: 30px;
}

.lose {
  display: flex;
  width: 200px;
  height: 100px;
  background-color: blue;
  text-align: center;
  color: white;
}

.draw {
  display: flex;
  width: 200px;
  height: 100px;
  background-color: purple;
  text-align: center;
  color: white;
}

.plyer {
  width: 400px;
  height: 100px;
}

.btn1,
.btn2,
.btn3 {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}
